<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>

    <div class="table-responsive">
        <table id='myTable' class="table table-dark">
            <th>ID</th><th>Title</th><th>Description</th><th>Price</th><th>Thumbnail</th><th>Code</th><th>Stock</th><th>Category</th>
            {{#each products}}
            <tr><th>{{id}}
            </th> <th>{{title}}</th><th>{{description}}</th><th>{{price}}</th><th>{{thumbnail}}</th><th>{{code}}</th><th>{{stock}}</th><th>{{category}}</th></tr>
            {{/each}}
        </table>
    </div>
</div>